@model List<DataAccessLayer.Category>

<style>
    body {
        background-color: #f0f4f7;
        color: #333;
        font-family: 'arial', sans-serif;
        margin: 0;
    }

    .navbar-nav.flex-grow-1 {
        display: none;
    }

    #right-nav {
        display: block;
    }

    #cust-dash {
        display: none;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        background-color: #e0f7fa;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    th, td {
        border: 1px solid #b3e0f2;
        padding: 12px 15px;
        text-align: left;
    }

    th {
        background-color: #5f5d9c;
        color: #fff;
    }

    td {
        background-color: #b5c0d0;
    }

    
</style>


<h2>List of Categories</h2>
<a href="@Url.Action("AddCategory", "Admin")" class="action-button btn btn-primary ">Add</a>

<table>


    <tr>
        <th>Category ID</th>
        <th>Category Name</th>
        <th>You Can.!</th>
    </tr>

    @foreach (var category in Model)
    {
        <tr>
            <td>@category.CategoryId</td>
            <td>@category.CategoryName</td>
            
            <td>
                <!-- View button -->
                <a href="@Url.Action("ViewCategory", "Admin", new { id = category.CategoryId })" class="action-button btn btn-info">View</a>
                <!-- Add button -->
                <!-- Edit button -->
                <a href="@Url.Action("EditCategory", "Admin", new { id = category.CategoryId })" class="action-button btn btn-warning">Edit</a>
                <!-- Delete button -->
                <a href="@Url.Action("DeleteCategory", "Admin", new { id = category.CategoryId })" class="action-button btn btn-danger">Delete</a>
            </td>
        </tr>
    }


</table>
