

<!DOCTYPE html>
<html lang="en">
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <title></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>

        .sidebar {
            height: 100%;
            width: 250px;
            position: fixed;
            top: 0;
            left: 0;
            background-color: #343a40;
            padding-top: 20px;
            color: #fff;
        }

            .sidebar .profile-picture {
                background-color: aliceblue;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                display: block;
                margin: 0 auto;
                overflow: hidden;
            }

            .sidebar a {
                padding: 10px 25px;
                text-decoration: none;
                font-size: 18px;
                color: #fff;
                display: block;
            }

                .sidebar a:hover {
                    background-color: #555;
                    transform: scale(1.05);
                }
                img{
                    width:100%;
                    height:100%;
                }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Logout", "Validation")">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("AdminRegistration", "Validation")">Add new Admin</a>
                </li>

            </ul>
        </div>
    </nav>

    <div class="sidebar">
        <div class="profile-picture">
            <img src="~/Content/admin.jpg"  alt="Profile Picture">
        </div>
        <h3 style="margin-left: 88px;">Admin</h3>
        <a href="@Url.Action("Dashboard", "Admin")">Dashboard</a>
        <a href="@Url.Action("GetAllCustomers", "Admin")">Customer</a>
        <a href="@Url.Action("Categories", "Admin")">Category</a>
        <a href="@Url.Action("Policy", "Admin")">Policy</a>


        <a href="@Url.Action("Question", "Admin")">Question</a>
    </div>

    <div id="ContentPlaceHolder2">
        @RenderBody() 
    </div>

    @*<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>*@
</body>
</html>




