
@model UILayer.Models.PolicyModel

@{
    ViewBag.Title = "Edit Policy";
}

<h2>Edit Policy</h2>

@using (Html.BeginForm("EditPolicy", "Policy", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.PolicyNumber)
        @Html.EditorFor(model => model.PolicyNumber, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        @Html.ValidationMessageFor(model => model.PolicyNumber, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DateOfCreation)
        @Html.EditorFor(model => model.DateOfCreation, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.DateOfCreation, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Category)
        @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.policycategory)
        @Html.EditorFor(model => model.policycategory, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.policycategory, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Price)
        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <input type="submit" value="Save Changes" class="btn btn-primary" />
        @Html.ActionLink("Cancel", "ShowAllPolicies", "Policy", new { @class = "btn btn-default" })
    </div>
}

